h4{
color:black !important;
font-family: Calibri, sans-serif !important;
font-size: 100% !important;
margin-bottom: 0px !important;
margin-top: 0px !important;
padding:0px !important;
}

ul{
font-family: Calibri, sans-serif !important;
}

.container{
	display:block;
}

img{
	margin-top:0px !important;
}



